/** seletor{ propriedade:valor;}**/
p{
    background-color: azure;
}

#tituloformascss{
    background-color: beige;
}

.vermelho{
    color:red;
}

#botao{
    background-color:blueviolet;
    color:floralwhite;
}
#botao:hover{
    background-color: magenta;
    color: white;
    font-size: 12pt;
}